<section class="block">
    <div class="container">
        <div class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, magnam!</p>
        </div>
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, minima!</div>
        </div>
    </div>
</section>