<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatum deserunt
        pariatur at perspiciatis
        odio. Placeat non pariatur cum consequatur doloribus repellat id! Ad aperiam ratione repudiandae nisi eos in
        ut id amet, mollitia nesciunt porro quo assumenda atque adipisci veniam iste dolorum quis aliquam. Optio
        obcaecati vitae provident libero maxime hic sequi, accusantium voluptate quod. Minus, perferendis
        dignissimos. Corrupti temporibus sit debitis quidem ipsum iste eaque laboriosam fugit laudantium. Iste
        necessitatibus in magni reiciendis, similique rem minima tempora officiis corrupti possimus incidunt
        dolorum, magnam distinctio! Doloribus accusantium quae ipsa harum labore possimus perferendis, nemo nisi,
        soluta similique, aspernatur a.</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Jone Smith</h3>
                <p class="quote__organization">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>